name: Push component to https://components.espressif.com
on:
  push:
    tags:
      - v*
jobs:
  upload_components:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          submodules: "recursive"
      - name: Upload component to the component registry
        uses: kumekay/github-actions/upload_components@bugfix/version_parameter_v
        with:
          name: "esp32-camera"
          namespace: "espressif"
          version: "0.0.11"
          service_url: ${{ secrets.IDF_COMPONENT_API_URL }}
          api_token: ${{ secrets.IDF_COMPONENT_API_TOKEN }}
