name: Push component to https://components.espressif.com
on:
  push:
    tags:
      - v*
jobs:
  upload_components:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          submodules: "recursive"
      - name: Set version
        run:
          COMPONENT_VERSION="${GITHUB_REF_NAME//v/}"
      - name: Upload component to the component registry
        uses: espressif/github-actions/upload_components@master
        with:
          name: "esp32-camera"
          version: ${{ env.COMPONENT_VERSION }}
          namespace: "espressif"
          service_url: ${{ secrets.IDF_COMPONENT_API_URL }}
          api_token: ${{ secrets.IDF_COMPONENT_API_TOKEN }}
